= semantic_form_for @organization, :html => { :class => "add-form" } do |f|
  %h2
    %a{:href => "#"} Account settings
  .add-contact-icon Add Contact
  - unless @organization.errors.empty?
    - @organization.errors.full_messages.each do |msg|
      %li.errors.form-item
        = msg

  %li.form-item
    = f.label :name, :class => 'form-label'
    = f.text_field :name
    %p.form-description Company Name

  %li.form-item
    = f.label :url, "URL", :class => 'form-label'
    = f.text_field :url
    %p.form-description http://XXX.incomehawk.com

  %li.form-item
    = f.label :currency, :class => 'form-label', :style => "height: 100px"
    %ul.currencies
      - Organization.currencies.each do |c|
        %li
          = f.radio_button :currency, c
          = c

  -#%li.form-item
  -#  %label.form-label Plan
  -#  %div
  -#    = @organization.plan.name
  -#    = surround '(', ')' do
  -#      %a(href="#") Upgrade?

  %ul.action-buttons
    %li.blue-button
      = link_to_function "Update Account", "$('.add-form').submit()", :class => "add-project"